.navbar {
    height: 46px;
    background-color: white;
    box-shadow: 0px 1px 5px 0px #808080b8;
}

.navbar-brand {
    color: #aa5fbdf5;
    font-weight: bold;
    font-size: 32px;
}

.navbar-brand:hover {
    color: #db6ceac9;
}

.navbar-logo {
    padding: .33rem;
}

.navbar-logo:hover {
    padding: .5rem;
    box-shadow: 0 0 8px 2px #db6ceac9;
}